body {
	background: #000000;
	margin: 0;
	overflow: hidden;
}

#globe {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#scroll {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	color: rgba(0, 255, 0, 0.3);
 	font-family: monospace;
	text-align: center;
	z-index: -1;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

#clock {
	position: fixed;
	left: 5%;
	top: 5%;
	color: rgb(0, 255, 0);
	font-size: 10vh;
 	font-family: monospace;
	text-align: left;
	z-index: 0;
}

#search {
	position: fixed;
	left: 35%;
	top: 75%;
	width: 30%;
	height: 5%;
	background-color: rgb(0, 0, 0);
	z-index: 1;
}
	
#search input[type="submit"] {
	display: none;
}

#search input[type="text"] {
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	color: rgb(0, 255, 0);
	background-color: rgb(0, 0, 0);
 	font-family: monospace;
	text-align: left;
	padding-left: 5%;
}
