body {
	background: #000000;
	margin: 0;
	overflow: hidden;
}

#globe {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#scroll {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	color: rgba(0, 255, 0, 0.3);
 	font-family: monospace;
	text-align: center;
	z-index: -1;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

#clock {
	position: fixed;
	left: 10%;
	top: 10%;
	width: 25%;
	height: 10%;
	color: rgb(0, 255, 0);
 	font-family: monospace;
	text-align: center;
	z-index: 0;
}
	
