body {
	background: #000000;
	margin: 0;
	overflow: hidden;
	font-family: monospace;
}

#scroll {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	color: rgba(0, 255, 0, 0.3);
	text-align: center;
	z-index: -1;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	font-size: 2.25vh
}

#seconds {
 	font-size: 0.5em;
	vertical-align: 50%;
	border-bottom: 0.75vh solid currentColor;
	margin: 0 .25em 0 .15em;
	z-index: 1;
	color: #00c800;
}

#clock {
	font-size: 10vh;
	z-index: 1;
	color: #00c800;
	position: fixed;
	top: 5%;
	left: 5%;
}

#date {
	font-size: 3vh;
	z-index: 1;
	color: #00c800;
	position: fixed;
	top: 15%;
	left: 5%;
}
